:root{
    --main-color: #0078ff;
    --sections-color: #1e1e1e;
}
nav {
    background-color: rgba(0, 0, 0, 0.9);
}

 nav .nav-item .nav-link {
    color: rgb(255, 255, 255);
} 
nav .vip::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 5px;
    bottom: 1px;
    background-color: white;
    transition: all 0.5s;
}
nav .vip:hover:after {
    width: 80%;
}
.dropdown-menu li{
    position: relative;
}
.dropdown-menu .parent{
    position: absolute;
    display: none;
    left: 100%;
    top: -7px;
    right: 0px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.461) 0% 100%), url(../imges/hero-bg.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}


header .caption h1 {
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
}
header .caption h2{
    font-size: 16px;
    font-weight: 100;
}
header .caption p {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    
    
}
header .caption p::after{
    content: '|';
    animation-name: typing ;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    
}
@keyframes typing{
    0%{content: 'D|';}
    1%{content: 'De|';}
    2%{content: 'Des|';}
    3%{content: 'Desi|';}
    4%{content: 'Desig|';}
    5%{content: 'Design|';}
    6%{content: 'Designe|';}
    7%{content: 'Designer|';}
    8%{content: 'Designer |';}
    9%{content: 'Designer|';}
    10%{content: 'Designe|';}
    11%{content: 'Design|';}
    12%{content: 'Desig|';}
    13%{content: 'Desi|';}
    14%{content: 'Des|';}
    15%{content: 'De|';}
    16%{content: 'D|';}
    17%{content: '|';}

    18%{content: 'D|';}
    19%{content: 'De|';}
    20%{content: 'Dev|';}
    21%{content: 'Deve|';}
    22%{content: 'Devel|';}
    23%{content: 'Develo|';}
    24%{content: 'Develop|';}
    25%{content: 'Deevelope|';}
    26%{content: 'Developer|';}
    27%{content: 'Developer |';}
    28%{content: 'Developer|';}
    29%{content: 'Develope|';}
    30%{content: 'Develop|';}
    31%{content: 'Develo|';}
    32%{content: 'Devel|';}
    33%{content: 'Deve|';}
    34%{content: 'Dev|';}
    35%{content: 'De|';}
    36%{content: 'D|';}
    37%{content: '|';}
    38%{content: '|';}
    39%{content: '|';}

    40%{content: 'F|';}
    41%{content: 'Fr|';}
    42%{content: 'Fre|';}
    43%{content: 'Free|';}
    44%{content: 'Freel|';}
    45%{content: 'Freela|';}
    46%{content: 'Freelan|';}
    47%{content: 'Freelanc|';}
    48%{content: 'Freelance|';}
    49%{content: 'Freelancer|';}
    50%{content: 'Freelancer |';}
    
    51%{content: 'Freelancer|';}
    52%{content: 'Freelance|';}
    53%{content: 'Freelanc|';}
    54%{content: 'Freelan|';}
    55%{content: 'Freela|';}
    56%{content: 'Freel|';}
    57%{content: 'Free|';}
    58%{content: 'Fre|';}
    59%{content: 'Fr|';}
    60%{content: 'F|';}
    61%{content: '|';}
    62%{content: '|';}
    63%{content: '|';}

    64%{content: 'p|';}
    65%{content: 'ph|';}
    66%{content: 'pho|';}
    67%{content: 'phot|';}
    68%{content: 'photo|';}
    69%{content: 'photog|';}
    70%{content: 'photogr|';}
    71%{content: 'photogra|';}
    72%{content: 'photograp|';}
    73%{content: 'photograph|';}
    74%{content: 'photographe|';}
    75%{content: 'photographer|';}
    76%{content: 'photographer |';}
    77%{content: 'photographer|';}
    78%{content: 'photographe|';}
    79%{content: 'photograph|';}
    80%{content: 'photograp|';}
    81%{content: 'photogra|';}
    82%{content: 'photogr|';}
    83%{content: 'photog|';}
    84%{content: 'photo|';}
    85%{content: 'phot|';}
    86%{content: 'pho|';}
    87%{content: 'ph|';}
    88%{content: 'p|';}
    89%{content: '|';}
    90%{content: '|';}
    91%{content: '|';}
    92%{content: '|';}
    93%{content: '|';}
    94%{content: '|';}
    95%{content: '|';}
    96%{content: '|';}
    97%{content: '|';}
    98%{content: '|';}
    90%{content: '|';}
    100%{content: '|';}


    



    
  

}
header .arrow{
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: all 0.5s;
    
}
header .arrow:hover{
    background-color: #58c5ff;
}



/* section 2 */

 .about-text h5::after{
    content: '';
    position: absolute;
    background-color:var(--main-color);
    height: 3px;
    width: 100px;
    left: 0px;
    bottom: -7px;
    
    

}
#about .container{
    background-color: white;
 
}



/* section 3 */
section .services1 h3 {
    font-size:3rem ;
    font-weight: bold;
    color: var(--sections-color);
}
section .services1 p{
    color:#4e4e4e;
    font-weight: 600;
    position: relative;
}
section .services1 p::after{
    content: '';
    width: 45px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    left: 48%;
    top: 35px;
}
.row .card-content i{
    font-size: 2rem;
    width: 100px;
    height: 100px;
    border: 10px solid  #0078ff;
    border-radius: 50%;
    transition: all 0.5s; 

}
.row .card-content{
    background-color: white;
}
.row .card-content:hover i{
    border: 10px solid #80b6f4 ;
    background: #0078ff;
}
.row .card-content h2{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--sections-color);
}


/* section 4 */
 .count{
    background-image: linear-gradient(rgba(0, 116, 233, 0.671) 0% 100%) ,  url(../imges/post-3.jpg);
   background-size: cover;
   background-position: center center;
    background-attachment: fixed;

}
.count .row .icon{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 10px solid  #ffffff93;
    border-radius: 50%;
}
.count .row{
    color: rgb(255, 255, 255);
}
.count .row .icon-caption p{
    font-size: 2rem;
}
.count .row .icon-caption h5{
    font-size: 1rem;
    font-weight: 300;
}

/* section 5 */

section .port-title p::after{
    content: '';
    width: 45px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    left: 48%;
    top: 35px;
}
#port .row .hov .img {
    transition: all 0.7s;
   
}
#port .row .hov:hover .img{
    transform: scale(1.2,1.2);
   
  
}
#port .row .hov{
    background-color: white;

}
/* section 6 */
 .slid{
    background-image: linear-gradient(rgba(0, 119, 255, 0.692)0% 100%), url(../imges/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.slid .pic img{
    width: 100px;
   
}
.slid .carousel-indicators [data-bs-target]{
    width: 0.8rem;
    height:0.8rem;
    border-radius: 50%;
}






/* section 7 */
section .blog-title p::after{
    content: '';
    width: 45px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    left: 48%;
    top: 35px;
}
.blog .row .blog-div{
    background-color: white;
}
.blog .row .part{
    position: absolute;
    top: 225px;
    left: 35%;
    
}
.row .name img{
    width: 30px;
}
.blog .row .blog-time img{
    width: 35px;
}
.blog .row .blog-caption h3{
    transition: color 0.8s;
    cursor: pointer;

}
.blog .row .blog-caption h3:hover{
    color: var(--main-color);
}
.blog .row .blog-time span{
    transition: color 0.8s;
    cursor: pointer;
}
.blog .row .blog-time span:hover{
    color: var(--main-color);

}

/* section 8 */
.contact{
   
    background-image:linear-gradient(rgba(0, 127, 195, 0.696)0% 100%), url(../imges/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
   
}

.contact .row .title-box h5::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 50px;
    left: 0px;
}
.contact .container{
    
    background-color: white;
}
.contact .row .title2-box h5::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 50px;
    left: 0px;

}

.icons ul li{
    width: 3rem;
    height: 3rem;
    transition: all 0.5s;
    
}
.icons ul li:hover{
    background-color: var(--main-color);
    border: solid rgb(164, 214, 255) !important;
    color: white;

}
.contact .row .btns .form-btn{
    background-color: var(--main-color);
    transition: all 0.5s;
    border: none;
    
}
.contact .row .btns .form-btn:hover{
    background-color: rgb(145, 206, 255);
   
}

footer{
    background-color: #005dc7;
   
}
